

{CSSTemplate {
	$classpath : "aria.widgets.css.atskin.Icon",
	$dependencies : ["aria.widgets.environment.WidgetSettings"]
}}

{macro main()}

{var widgetSettings = aria.widgets.environment.WidgetSettings.getWidgetSettings() /}
/* Icon class: autoCompleteAirTrain */
.xICNautoCompleteAirTrain {
	{if !widgetSettings.middleAlignment}vertical-align:top;{/if}
	font-size:1px;
	width:16px;
	height:16px;
	${aria.widgets.AriaSkinInterface.backgroundMacro("","atskin/sprites/airtrainicons_16x16.gif","no-repeat top left")}
}

/* Icon class: checkBoxes */
.xICNcheckBoxes {
	{if !widgetSettings.middleAlignment}vertical-align:top;{/if}
	font-size:1px;
	width:19px;
	height:18px;
	${aria.widgets.AriaSkinInterface.backgroundMacro("","atskin/sprites/checkbox.png","no-repeat top left")}
}

{if !widgetSettings.middleAlignment}
.xICNcheckBoxes {
	vertical-align:middle;
}
{/if}
/* Icon class: std */
.xICNstd {
	{if !widgetSettings.middleAlignment}vertical-align:top;{/if}
	font-size:1px;
	width:16px;
	height:16px;
	${aria.widgets.AriaSkinInterface.backgroundMacro("","atskin/sprites/icons_16x16.gif","no-repeat top left")}
}

/* Icon class: dropdown */
.xICNdropdown {
	{if !widgetSettings.middleAlignment}vertical-align:top;{/if}
	font-size:1px;
	width:14px;
	height:20px;
	${aria.widgets.AriaSkinInterface.backgroundMacro("","atskin/imgs/dropdownbtns.gif","no-repeat top left")}
}

/* Icon class: sortIndicator */
.xICNsortIndicator {
	{if !widgetSettings.middleAlignment}vertical-align:top;{/if}
	font-size:1px;
	width:15px;
	height:11px;
	${aria.widgets.AriaSkinInterface.backgroundMacro("","atskin/sprites/sortlist.gif","no-repeat top left")}
}


{/macro}
{/CSSTemplate}
