{CSSTemplate {
	$classpath : "aria.widgets.css.atskin.Link"
}}

{macro main()}



a.xLink_std {
	color:#6365FF;
}

a:hover.xLink_std {
	color:#6365FF;
}

a:focus.xLink_std {
	color:#6365FF;
}


{/macro}
{/CSSTemplate}