

{CSSTemplate {
	$classpath : "aria.widgets.css.atskin.SortIndicator"
}}

{macro main()}

a.sortIndicatorLink label {
	cursor:pointer;
}
a.sortIndicatorLink:focus {
	border-bottom:1px dotted #000;
}


{/macro}
{/CSSTemplate}
